<%= render "pages/heading", title: "Welcome to Agile Marketing Platform" %>
<div class="padded">
	<div class="slate">
	    <div class="slate-content">
	      <div class="box-left">
	        <%= image_tag "clipboard.png" %>
	      </div>

	      <div class="box-right">
	        <h3>A marketing solution for Franchise Owners</h3>
	        <div class="text">
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis. Nullam quis risus eget urna mollis ornare vel eu leo.
	        </div>
	        <a href="#">Learn more about project tasks</a>
	        <br/>
	        <span class="btn blue btn-slate-action"><i class="icon-plus-sign"></i> Add the first task!</span>
	      </div>
	    </div>
	  </div>
</div>

