<div class="padded">
  <h2>Incomplete Tasks</h2>
  <div class="tasks" id="incomplete_tasks">
    <%= render current_user.roles.first.incomplete_tasks %>
  </div>

  <h2>Comlpete Tasks</h2>
  <div class="tasks" id="complete_tasks">
    <%= render current_user.roles.first.complete_tasks %>
  </div>
</div>